@import '~@aeternity/aepp-components/dist/variables.scss';
@import './../../text.style.scss';

@mixin screenshot-frame-device-screen($device_width, $device_height, $screen_width, $screen_height, $screen_left, $screen_top){
    padding-top: 100% / ($device_width / $device_height);
    img {
        left: percentage($screen_left / $device_width);
        width: percentage($screen_width / $device_width);
        top: percentage($screen_top / $device_height);
        height: percentage($screen_height / $device_height);
    }
}

.onBoarding {
  .wrapper {
    .content {
      margin: auto;
      // display: flex;
      margin: 30px 60px 30px 30px;

      h1 {
        width: 254px;
        @include titlelarge;
      }

      p {
        @include paragraphnormal;
      }
    }

    .screenshot-phone {
      background-image: url('./../../assets/img/phone-mockup.svg');
      background-repeat: no-repeat;
      background-position: center;
      height: 264.3px;
      position: relative;
      margin: auto;
      padding-top: 20px;
      padding-bottom: 38px;

      .image {
        top: 78px;
        width: 206px;
        position: relative;
        margin: auto;
      }

      img {
        width: 100%;
      }
    }

    main {
      padding-top: 64px;
    }

    section {
      width: 100%;
      visibility: hidden;
      display: none;

      &.current {
        visibility: visible;
        display: block;
      }

      .mockup {
        text-align: center;
        margin-top: 30px;
      }

      &#welcome {
        .cube-div {
          background: url('./../../assets/img/cube.svg') repeat-x center;
          height: 200px;

          img {
            margin: auto;
            display: block;
            padding: 40px 0px;
            width: 213px;
            height: 123px;
            object-fit: contain;
          }
        }
      }
    }

    footer {
      margin: 20px 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      position: absolute;
      text-align: right;
      display: flex;
      flex-direction: var(--axis-reverse, row-reverse);
      justify-content: space-between;
      align-items: center;

      .step-dots {
        display: flex;
        flex-direction: var(--axis, row);

        .step-dot {
          cursor: pointer;
          width: 0.500em;
          height: 0.500em;
          margin: .5ch;
          background-color: #e0e0e0;
          border-radius: 50%;
          display: inline-block;

          &.active {
            background-color: #f7296e;
          }
        }

        .inactive {
        }
      }
    }
  }
}
