@import '~@aeternity/aepp-components/dist/variables.scss';
@import './../../text.style.scss';

.onBoarding {
  .wrapper{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  header {
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
  }

  .main-content-container{
    max-width: 650px;
    width: 100%;
  }

  .content {
    margin: auto;
    margin: 30px 60px 30px 30px;

    h1 {
      width: 254px;
      @include titlelarge;
    }

    p {
      @include paragraphnormal;
    }
  }

  .screenshot-phone, .screenshot-phone2 {
    background-image: url('./../../assets/img/onboarding/phone-mockup.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 264.3px;
    position: relative;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 38px;

    .image {
      top: 78px;
      width: 206px;
      position: relative;
      margin: auto;
    }

    .icons {
      padding: 18px 12px;
      padding-right: 0px;

      img {
        width: 54px;
        height: 54px;
        margin-right: 7.5px;
      }
    }

    img {
      width: 100%;
    }
  }

  .screenshot-phone2 {
    background-image: url('./../../assets/img/onboarding/phone-bottom-mockup.svg');

    .image {
      top: 25px;
    }
  }

  main {
    padding-top: 64px;
    position: absolute;
    bottom: 60px;
  }

  section {
    width: 100%;
    display: none;

    &.current {
      display: block;
    }

    .mockup {
      text-align: center;
      margin-top: 30px;
    }

    &#welcome {
      .cube-div {
        background: url('./../../assets/img/onboarding/cube.svg') repeat-x center;
        height: 200px;
        padding: 55px;

        img {
          margin: auto;
          display: block;
          padding: 40px 0px;
          width: 213px;
          height: 123px;
          object-fit: contain;
        }
      }
    }

    &#manage {
      .image {
        img {
          position: relative;
          margin-top: -45px;
          width: 206px;

          &:first-child {
            margin-top: 0px;
          }
        }
      }
    }
  }

  footer {
    margin: 20px 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .step-dots {
      display: flex;
      flex-direction: row;

      .step-dot {
        cursor: pointer;
        width: 0.500em;
        height: 0.500em;
        margin: .5ch;
        background-color: #e0e0e0;
        border-radius: 50%;
        display: inline-block;

        &.active {
          background-color: #f7296e;
        }
      }
    }

    .start-button {
      margin-right: 30px;
    }
  }
}
