@import '~@aeternity/aepp-components/dist/variables.scss';
@import '~@aeternity/aepp-components/dist/mixins.scss';
@import './../../text.style.scss';

.onBoarding {
  .wrapper{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .main-content-container{
    max-width: 650px;
    width: 100%;
    align-self: center;
  }

  .content {
    margin: auto;
    width: 85vw;

    h1 {
      width: 100%;
      margin: 0;
      @include titlelarge;
    }

    p {
      @include paragraphnormal;
      margin: 0 0 15px 0;
    }
  }

  .screenshot-phone, .screenshot-phone2 {
    background-image: url('./../../assets/img/onboarding/phone-mockup.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 264.3px;
    position: relative;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 38px;

    .image {
      top: 78px;
      width: 206px;
      position: relative;
      margin: auto;
    }

    img {
      width: 100%;
    }
  }

  .screenshot-phone2 {
    background-image: url('./../../assets/img/onboarding/phone-bottom-mockup.svg');

    .image {
      top: 25px;
    }
  }

  main {
    position: static;
  }

  section {
    width: 100%;
    display: none;

    &.current {
      display: block;
      .screenshot-phone,
      .screenshot-phone2 {
        animation: slide-in-right .95s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }
      .content {
        animation: fade 1.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }
    }

    .mockup {
      text-align: center;
      margin-top: 30px;
    }

    &#welcome {
      .cube-div {
        background: url('./../../assets/img/onboarding/cube.svg') repeat-x center;
        height: 200px;
        padding: 55px;

        img {
          margin: auto;
          display: block;
          padding: 40px 0px;
          width: 213px;
          height: 123px;
          object-fit: contain;
        }
      }
    }

    &#manage {
      .image {
        img {
          position: relative;
          margin-top: -45px;
          width: 206px;

          &:first-child {
            margin-top: 0px;
          }
        }
      }
    }

    &#app-browser {
      .image {
        padding-top: 5px;

        .ae-app-icon {
          float: left;
          width: 48px;
          height: 48px;
          margin: 10px;
          padding: 8px;
        }
      }
    }

    &#active-account {
      .image > img {
        margin-bottom: 10px;
      }
    }
  }

  footer {
    margin: 0 auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    text-align: right;
    justify-content: space-between;
    align-items: center;
    
    .wrapper {
      padding: 20px 0;
      width: 90vw;
      border-top: 2px solid $normal;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
      
      .step-dots {
        display: flex;
        justify-content: center;
        flex-direction: row;

        .step-dot {
          cursor: pointer;
          width: 0.5em;
          height: 0.5em;
          margin: .5ch;
          background-color: $normal;
          border-radius: 50%;
          display: inline-block;
          &.active {
            background-color: $dramatic;
          }
        }
      }
    }
  }
}

@media (max-width:370px) {
  .onBoarding main {

    section div {
      flex: 1;
    }

    #welcome .cube-div {
      padding: 31px;
    }

    .screenshot-phone,
    .screenshot-phone2 {
      transform: scale(.9, .77);
      padding: 0;
    }

    .content {
      h1 {
        @include titlemedium;
      }
      p {
        @include paragraphboring;
        color: $black;
      }
    }
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

