.ae-identity {
  top:auto;
  bottom:10px;
  box-sizing:border-box;
  /* Rectangle: */
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.18);
  border-radius: 10px;
  width:306px;
  height: 188px;
  padding:15px 21px;
  color:white;
  z-index:5;
  margin:0 auto;
  text-align: left;
}
.ae-identity ,
.ae-identity * {
  transition:0.4s;
}

.ae-identity.collapsed{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding:6px 5px 5px;
  height: auto;
  width:230px;
}

.ae-identity._active_yes{
  background-image: linear-gradient(-180deg, #F03C6E 0%, #FF96A0 100%);
}
.ae-identity._active_no{
  background-image: linear-gradient(to bottom, #aeaeae, #dcdcdc);
}
#app.home .ae-identity {
  top:70px;
  bottom:auto
}

.flex-row{
  position:relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.public-id-title{
  margin-top: 3px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.9px;
}

.identity-info{
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-family: Roboto Mono;
  font-weight: 500;
  letter-spacing: 1px;
}
.collapsed .identity-info{
  /*background-color:red;*/
  font-size:10px;
  align-self:flex-end;
  display:none;
  /*position:absolute;*/
  /*top:3px;*/
  /*right:5px*/
}

.identity-info._long{
  width: calc(100% - 65px);
  overflow: hidden;
}


.balance {
}
.balance .amount {
  font-family: Roboto;
  font-weight:300;
  font-size: 60px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.collapsed .balance {
  align-self:flex-end;
}
.collapsed .balance .amount {
  font-size: 36px;
}
.balance .currency-symbol {
  font-size: 0.7em;
  color: #FFFFFF;
  letter-spacing: 2.4px;
}
.ae-identity.collapsed .avatar {
  width:40px;
  height:40px;
}
.ae-identity .avatar {
  margin-right:2px;
}

.bottom-inserted-elements{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 18px;
}
