.approve {
  background-image: linear-gradient(to bottom, white, #f1f4f7);
  padding: 30px 20px;
  border: solid 1px transparent;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  width: 300px;
  overflow-y: auto;
  max-height: calc(100% - 10px);
  box-sizing: border-box;
}

.transaction-flow{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
}
.id, .id > *{
  max-width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
}

.id > *:nth-child(2){
  margin-top: 1em;
  margin-bottom:1em;
}

.approve__flow-direction{
  margin-left: 10px;
  margin-right: 10px;
  height: 48px !important;
  background-position: center;
}

hr{
  width: 100%;
  border-style: none;
  border-top-style: solid;
  border-width: 2px;
  border-color: #dddddd;
}

hr:first-child{
  margin-bottom: 15px;
}

hr:last-child{
  margin-top: 15px;
}

.usd-value{
  display: block;
  color: #999;
}

.approve__amount{
  display: inline-block;
  text-align: center !important;
  text-overflow: ellipsis;
  width: 100% !important;
  overflow-x: hidden;
  line-height: 1.2;
}

.additional-fees-table{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.additional-fees-header{
  margin-right: 10px;
  font-weight: bold;
}

.additional-fees-value{
  text-align: right;
}

.additional-fees-eth{
  font-weight: bold;
}

.icon{
  height: 12px;
  width: auto;
}

.check-icon{
  fill: #f03c6e;
}

.cancel-icon{
  fill:#000;
}
