.DS_Store
node_modules
/dist
/public/favicons/android-chrome-192x192.png
/public/favicons/android-chrome-512x512.png
/public/favicons/apple-touch-icon.png
/resources/icon.png

# Cordova files
/www
/platforms
/plugins
/resources/*/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
