.DS_Store
node_modules
/dist
__image_snapshots_local__
tests/e2e/fixtures/qr-code-videos/video.y4m

# Cordova files
/www
/platforms
/plugins

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
