language: node_js
os:
  - linux
  - osx
osx_image: xcode10.2
node_js:
  - '10'
cache:
  directories:
    - node_modules
    - platforms
    - plugins
    - /home/travis/.cache/Cypress
install:
  - travis_wait 30 scripts/install.sh
script: scripts/script.sh
before_deploy: scripts/before-deploy.sh
deploy:
  - provider: script
    skip_cleanup: true
    script: scripts/deploy.sh
    on:
      all_branches: true
  - provider: releases
    api_key: $GITHUB_TOKEN
    file: aeternity.app.tar.gz
    skip_cleanup: true
    on:
      condition: $TRAVIS_OS_NAME = osx
      tags: true
