@use 'variables';
@use 'functions';
@use 'typography';

body {
  &, > noscript {
    > p.fullscreen-message {
      margin: 0 auto;
      padding-top: 30vh;
      padding-left: functions.rem(20px);
      padding-right: functions.rem(20px);
      max-width: functions.rem(400px);
      @extend %face-sans-l;
      text-align: center;
    }
  }
}
