//------------------------------
// *****************************
// Rules
// *****************************
//------------------------------

/// SASS version of normalize.scss
/// @website https://github.com/JohnAlbin/normalize-scss
/// @docs https://github.com/JohnAlbin/normalize-scss#how-to-use-it
@import "~normalize.css/normalize.css";

@import "variables/colors";
@import "variables/typography";

/// General HTML/Body styles
/// border-boxing fix
html, body {
  font-size: $base-font-size;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
  outline: 0;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    outline: 0;
  }
}
