@use 'variables';
@use 'functions';

%face-sans-l {
  font-family: variables.$font-sans;
  font-size: functions.rem(23px);
  letter-spacing: functions.em(-0.32px);
  line-height: functions.rem(28px);
}

%face-sans-base {
  font-family: variables.$font-sans;
  font-size: functions.rem(17px);
  line-height: functions.rem(24px);
}

%face-sans-s {
  font-family: variables.$font-sans;
  font-size: functions.rem(15px);
  line-height: functions.rem(20px);
}

%face-sans-xs {
  font-family: variables.$font-sans;
  font-size: functions.rem(13px);
  letter-spacing: functions.em(0.32px);
  line-height: functions.rem(16px);
}

%face-mono-xl {
  font-family: variables.$font-mono;
  font-size: functions.rem(52px);
  letter-spacing: functions.em(-0.8px);
  line-height: functions.rem(48px);
}

%face-mono-base {
  font-family: variables.$font-mono;
  font-size: functions.rem(17px);
  line-height: functions.rem(24px);
}

%face-mono-s {
  font-family: variables.$font-mono;
  font-size: functions.rem(15px);
  line-height: functions.rem(20px);
}

%face-mono-xs {
  font-family: variables.$font-mono;
  font-size: functions.rem(13px);
  letter-spacing: functions.em(0.32px);
  line-height: functions.rem(16px);
}

%face-uppercase-xs {
  font-family: variables.$font-sans;
  font-size: functions.rem(11px);
  letter-spacing: functions.em(1.6px);
  line-height: functions.rem(12px);
  text-transform: uppercase;
}
