$container-width: 880px;
$screen-phone: 480px;

$base-font-size: 16px;
$font-sans: 'Inter', sans-serif;
$font-mono: 'IBM Plex Mono', monospace;

$base-transition-time: 0.2s;

$color-red: #ff0d6a;
$color-magenta: #b300ff;
$color-cyan: #00e8cc;

$color-neutral-minimum: #001833;
$color-neutral-negative-3: #203040;
$color-neutral-negative-2: #4e5a66;
$color-neutral-negative-1: #76818c;
$color-neutral: #929ca6;
$color-neutral-positive-1: #d3dce6;
$color-neutral-positive-2: #edf3f7;
$color-neutral-positive-3: #f7fafc;
$color-neutral-maximum: #ffffff;

$color-primary-negative-3: #bd2a67;
$color-primary-negative-2: #d12869;
$color-primary-negative-1: #e72b6e;
$color-primary: #ff0d6a;
$color-primary-positive-1: #f279a8;
$color-primary-positive-2: #fa96b7;
$color-primary-positive-3: #ffbfd7;

$color-secondary-negative-3: #442873;
$color-secondary-negative-2: #513482;
$color-secondary-negative-1: #5f4191;
$color-secondary: #6948a1;
$color-secondary-positive-1: #8974b3;
$color-secondary-positive-2: #a18fbf;
$color-secondary-positive-3: #b2a3cc;

$color-alternative-negative-3: #099c9d;
$color-alternative-negative-2: #05ada8;
$color-alternative-negative-1: #02bdaa;
$color-alternative: #14ccb7;
$color-alternative-positive-1: #62d9cb;
$color-alternative-positive-2: #95e6dc;
$color-alternative-positive-3: #cef2ee;

$color-error: $color-red;
$color-focus: $color-magenta;
$color-focus-alt: $color-cyan;
$color-shadow-alpha-25: rgba(0, 33, 87, 0.25);
$color-shadow-alpha-15: rgba(0, 33, 87, 0.15);
$color-shadow-alpha-10: rgba(0, 33, 87, 0.15);
