.quick-id {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 997;
}

.back {
  width: 25px;
  height: auto;
  background: url('/static/icons/grid.svg') no-repeat;
  background-size: contain;
  border-right: 2px solid #f1f4f7;
  margin-right: 15px;
  padding-right: 15px;
}
