.avatar {
  display:inline-block;
  vertical-align:middle;
  border-radius:50%;
  background:white;
  width:48px;
  height:48px;
  border:2px solid white;
  background-position:center;
  background-size:cover;
}
