.dashboard-navbar {
  padding-top: 10px;
  padding-bottom: 10px;

  .title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #1e1e1e;
  }

  .left{
    float:left;
  }

  .right{
    float:right;
  }
}
