@import '~@aeternity/aepp-components/dist/mixins.scss';
@import '~@aeternity/aepp-components-3/src/styles/globals/functions';
@import '~@aeternity/aepp-components-3/src/styles/variables/colors';

@include phone {
  .mobile-page {
    /deep/ .header-mobile {
      position: fixed;
      margin-bottom: rem(10px);	
      padding: rem(24px) rem(10px);
      width: 95%;
      background-color: $color-neutral-maximum;
    }
    
    /deep/ .panel .content {
      margin: rem(90px) rem(48px);
    }
  }
}