@import '~@aeternity/aepp-components-3/src/styles/placeholders/typography.scss';
@import '~@aeternity/aepp-components-3/src/styles/variables/colors.scss';

.onboarding-screen {
  flex-grow: 1;

  &.v-enter-active, &.v-leave-active {
    transition-duration: .25s;

    img {
      transition: opacity .25s ease-out;
    }
  }

  &.v-leave-active img {
    transition-timing-function: ease-in;
  }

  &.v-enter, &.v-leave-to {
    img {
      opacity: 0;
    }
  }

  .guide {
    flex-direction: column;
    margin-left: 0;
    text-align: center;

    .note {
      margin-top: rem(5px);
      @extend %face-sans-base;
      font-weight: 500;
      color: $color-neutral-negative-2;
    }
  }

  img {
    display: block;
    margin: 0 auto rem(41px) auto;
  }
}
