@import '~@aeternity/aepp-components-3/src/styles/placeholders/typography';
@import '~@aeternity/aepp-components-3/src/styles/variables/colors';

.transfer.mobile-page {
  .note {
    @extend %face-sans-s;
    font-weight: 500;
  }

  .ae-account {
    margin: rem(39px) rem(16px);
    width: auto;

    &.qrAccount {
      margin-top: rem(59px);
    }
  }

  .list-item {
    margin: rem(40px) rem(30px);
    padding: rem(8px) rem(8px);
    width: auto;
    border: solid $color-neutral-positive-1;
    border-width: 2px 0;

    img {
      margin: 0 rem(9px) rem(4px) 0;
      width: rem(33px);
    }

    .content {
      .title {
        @extend %face-sans-s;
        font-weight: 500;
        color: $color-neutral-negative-3;
      }

      .subtitle {
        @extend %face-sans-xs;
        color: $color-neutral-negative-1;
      }
    }
  }
}