@import '../../styles/placeholders/typography.scss';
@import '../../styles/variables/colors.scss';

.settings-security-courses {
  /deep/ main {
    margin: 0;
  }

  p, h2, h1, ul {
    @extend %face-sans-base;
    margin: 0;
  }

  h2, h1 {
    margin-top: rem(16px);
    font-weight: 500;
    line-height: 1.65;
  }

  h2 {
    color: $color-alternative;
  }

  h1 {
    color: $color-primary;
  }

  /deep/ header.alternative {
    padding-top: rem(90px);

    p {
      @extend %face-sans-s;
    }
  }

  ul {
    padding: 0 1em;
    list-style: none;
  }

  ul li:before {
    font-weight: bold;
    content: '→';
    display: block;
    height: 0;
    left: rem(-20px);
    position: relative;
  }

  .wrapper > .ae-button.medium {
    margin-top: rem(18px);

    &:last-child {
      margin-bottom: 0;

      &.plain {
        margin-top: 0;
      }
    }
  }
}
