$color-black:   #000000;
$color-white:   #ffffff;
$color-red:     #FF0D6A;
$color-magenta: #B300FF;
$color-cyan:    #00E8CC;

$color-neutral-minimum:    #001833;
$color-neutral-negative-3: #203040;
$color-neutral-negative-2: #4E5A66;
$color-neutral-negative-1: #76818C;
$color-neutral:            #929CA6;
$color-neutral-positive-1: #D3DCE6;
$color-neutral-positive-2: #EDF3F7;
$color-neutral-positive-3: #F7FAFC;
$color-neutral-maximum:    #FFFFFF;

$color-primary-negative-3: #BD2A67;
$color-primary-negative-2: #D12869;
$color-primary-negative-1: #E72B6E;
$color-primary:            #FF0D6A;
$color-primary-positive-1: #F279A8;
$color-primary-positive-2: #FA96B7;
$color-primary-positive-3: #FFBFD7;

$color-secondary-negative-3: #442873;
$color-secondary-negative-2: #513482;
$color-secondary-negative-1: #5F4191;
$color-secondary:            #6948A1;
$color-secondary-positive-1: #8974B3;
$color-secondary-positive-2: #A18FBF;
$color-secondary-positive-3: #B2A3CC;

$color-alternative-negative-3:  #099C9D;
$color-alternative-negative-2:  #05ADA8;
$color-alternative-negative-1:  #02BDAA;
$color-alternative:             #14CCB7;
$color-alternative-positive-1:  #62D9CB;
$color-alternative-positive-2:  #95E6DC;
$color-alternative-positive-3:  #CEF2EE;

$color-error:           $color-red;
$color-focus:           $color-magenta;
$color-focus-alt:       $color-cyan;
$color-shadow-alpha-25: rgba(0, 33, 87, 0.25);
$color-shadow-alpha-15: rgba(0, 33, 87, 0.15);
$color-shadow-alpha-10: rgba(0, 33, 87, 0.15);
