//------------------------------
// *****************************
// Paths
// *****************************
//------------------------------

$path-fonts: "../assets/fonts/" !default;
$path-images: "../assets/images/" !default;
$path-icons: "../assets/icons/" !default;
