//------------------------------
// *****************************
// Typography
// *****************************
//------------------------------

// Base Settings
$base-font-size: 16px !default;

/// Inter UI variables
/// @website: https://rsms.me/inter/
$font-sans: "Inter UI", sans-serif !default;

/// Inter UI variables
/// @website: https://rsms.me/inter/
$font-mono: "IBM Plex Mono", monospace !default;
