.iframe-wrap {
  position:absolute;
  width:100%;
  height:100%;
  z-index:100;
  transition: transform 0.3s, opacity 0.5s;
  margin-top:0 !important;
}
.iframe-wrap iframe {
  transition: filter 2s;
}
.iframe-wrap .loader {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.15);
  z-index:100;
  cursor: wait;
  opacity:0;
  transition:opacity 2s, translate 0s 2s;
  transform:translateX(-300vw);
}
.iframe-wrap.loading iframe {
  filter: blur(3px);
}
.iframe-wrap.loading .loader {
  opacity:1;
  transform:translateX(0);
  transition:opacity 2s, translate 0s 0s;
}
.iframe-wrap .loader:before ,
.iframe-wrap .loader:after {
  /*z-index:2;*/
  content :'';
  display:block;
  position:absolute;
  top:30%;
  left:50%;
  transform:translate(-50%,-50%);
  height:60px;
  width:60px;
  background-color:#F03C6E;
  opacity:0.6;
  border-radius:50%;
  transform-origin:left top;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.iframe-wrap.loading .loader:after {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) translate(-50%,-50%) }
  50% { -webkit-transform: scale(1.0) translate(-50%,-50%) }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0) translate(-50%,-50%);
    -webkit-transform: scale(0.0) translate(-50%,-50%);
  } 50% {
    transform: scale(1.0) translate(-50%,-50%);
    -webkit-transform: scale(1.0) translate(-50%,-50%);
  }
}
iframe {
  width:100%;
  height: 100%;
  border:none;
  margin:0;
  padding: 0;
}
.apps {
  display:flex;
  position:relative;
  width:auto;
  margin:5px;
  flex-wrap:wrap;
  align-content:center;
  /*background-color:red;*/
}
.app-shortcut {
  position: relative;
  margin:15px 5px;
  min-width:85px;
  width:calc(50% - 10px);
  /*background-color:green;*/
  text-align: center;
}
.app-icon-outer{
  position: relative;
  display: inline-block;
}
.app-icon-outer .app-icon{
  margin:0 auto; /* can delete after margins are removed from component */
}
.app-browser__notifications{
  position: fixed;
  top:0; left:0;
  width:100%;
  z-index:200;
}
.app-browser__modal{
  position: fixed;
  top:0; let:0;
  width:100%;
  height:100%;
  z-index:950;
}
@media screen and (min-width:295px) {
  .app-shortcut {
    width:calc(33.3% - 10px);
  }
}
@media screen and (min-width:495px) {
  .app-shortcut {
    margin:10px;
    width:calc(25% - 10px);
  }
}
@media screen and (min-width:595px) {
  .app-shortcut {
    margin:10px;
    width:calc(20% - 10px);
  }
}
@media screen and (min-width:695px) {
  .app-shortcut {
    margin:10px;
    width:calc(16.6% - 10px);
  }
}
@media screen and (min-width:795px) {
  .app-shortcut {
    margin:10px;
    width:calc(14.28% - 20px);
  }
}
.app-name {
  margin-top: 10px;
  text-align:center;
}
.back {
  position:absolute;
  bottom:2px;
  left:5px;
  width:50px;
  height:50px;
  z-index:900;
  /*background-color:red;*/
}
.remove-app-btn{
  position: absolute;
  top:0;
  right:0;
  cursor: pointer;
  visibility: hidden;
  opacity:0;
  transform-origin:center center;
  transform: translate(48%,-50%) scale(.45,.45);
  transition: opacity 300ms, transform 300ms, visibility 0s 300ms;
}
.no-touch .app-shortcut:hover .remove-app-btn,
.touch .apps--editmode .remove-app-btn{
  visibility: visible;
  opacity:1;
  transform: translate(48%,-50%) scale(.58,.58);
  transition: opacity 300ms 500ms, transform 300ms 500ms, visibility 0s 500ms;
}
