@import '../styles/variables';

%copied {
  position: relative;

  &:before {
    content: attr(data-copied-text);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color-neutral-negative-3;
    background: rgba($color-neutral-positive-1, 0.9);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
