.id-manager{
  background-color: #ffffff;
}
.id-manager .ae-identity {
  display:none;
}
.create-new-id-button{
  margin-top:40px;
}
.close-id-manager-button{
  margin-top:40px;
}
.explanation {
  padding:0 20px;
}
.topbar {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}

.ae-identity .bottom-inserted-elements div {
  margin: 2px;
}

.ae-identity .ae-button {
  overflow: hidden;
}
