@import "~@aeternity/aepp-components/dist/variables.scss";

.mobile-page /deep/ .panel {
  .content, .footer {
    .ae-button {
      display: block;
      width: 100%;
      max-width: 310px;
      margin: 15px auto;

      .inner .label {
        margin: 0 auto;
      }
    }

    p {
      text-align: center;
      max-width: 300px;
      font-size: 18px;
      line-height: 1.56;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .footer p {
    color: $grey;
    font-size: 16px;
  }
}
