@import '~@aeternity/aepp-components/dist/variables.scss';

.mobile-page /deep/ .panel {
  .content, .footer {
    > .ae-button, form > .ae-button {
      display: block;
      width: 100%;
      max-width: 330px;
    }

    h1, p {
      margin-top: 6px;
      margin-bottom: 6px;
    }

    h1 {
      font-size: 35px;
      font-weight: bold;
      line-height: 1.23;
    }
  }

  .footer p {
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: $grey;
    font-size: 16px;
  }
}
