.setup {
	width: 100vw;
	/*height: 100vh;*/
	background: rgba(255, 255, 255, 0.85);
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
  justify-content: flex-start;
	flex-direction: column;
	align-items: center;
  align-content: center;
}
.setup > .wrapper {
	width: 85vw;
  text-align: center;
}

.copy-phrase-button{
  margin-top: 10px;
  margin-bottom: 20px;
}

/*#appframe {
  width: 50vw;
  height: 50vh;
}*/
.seed {
	font-style: italic;
}
.seed-odd {
	font-weight: 700;
}

.seed-wrap {
  border: solid 2px #f5f5f5;
  background:#f5f5f5;
  border-radius: 10px;
  margin:0 auto;
  max-width:370px;
}
.seed-input {
  margin:0 auto;
  max-width:300px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  border: none;
  background:transparent;
  color: #989898;
  min-height: 70px;
  padding: 15px 20px 0px;
  margin-bottom:10px;
  width: 100%;
  resize: none;
  box-sizing: border-box;
}

.title{
  text-align: center;
  /*margin:0;*/
  /*width:100%;*/
  /*max-width:100%;*/
}
.active-addr {
	font-weight: 700;
}

.next-step-button{
  margin-top: 40px;
}

.save-password-button{
  margin-top: 30px;
}

.pin-input-label{
  display: inline-block;
  margin-bottom: 30px;
}

.generate-random-seed {
  margin-bottom:10px;
}
.password-info:empty{
  display: none;
}
.recover-with-seed {
  margin-top:20px;
}
.go-to-unlock {
  margin-top:20px;
}
