@import "./../style.guide.scss";

.setup {
	width: 100vw;
	/*height: 100vh;*/
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
  justify-content: flex-start;
	flex-direction: column;
	align-items: center;
  align-content: center;

  .wrapper {
    width: 85vw;
    text-align: center;
  }
}

.copy-phrase-button{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  height: 30px !important;
  display: block !important;
}

/*#appframe {
  width: 50vw;
  height: 50vh;
}*/
.seed {
	font-style: italic;
}
.seed-odd {
	font-weight: 700;
}

.seed-wrap {
  border: solid 2px #f5f5f5;
  padding: 20px;
  margin:0 auto;
  max-width:370px;
  border-radius: 10px;
  background-color: $white;
}
.seed-input {
  margin:0 auto;
  max-width:300px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  border: none;
  background:transparent;
  color: #989898;
  min-height: 70px;
  padding: 15px 20px 0px;
  margin-bottom:10px;
  width: 100%;
  resize: none;
  box-sizing: border-box;
}

.title{
  text-align: center;
  /*margin:0;*/
  /*width:100%;*/
  /*max-width:100%;*/
}
.active-addr {
	font-weight: 700;
}

.next-step-button{
  margin:40px auto 0 auto;
}

.save-password-button{
  margin-top: 30px;
}

.pin-input-label{
  display: inline-block;
  margin-bottom: 30px;
}

.generate-random-seed {
  display: block !important ;
  margin: auto;
  margin-bottom:10px;
}
.password-info:empty{
  display: none;
}
.recover-with-seed {
  margin-top:20px;
}
.go-to-unlock {
  margin-top:20px;
}

.save-these-12-words {
  width: 300px;
  height: 140px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: $anthracite;
  margin-top: 36px;
  margin-bottom: 36px;
}
