.ae-button{
  text-align: center;
}

.ae-button > * {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  border-radius: 100px;
  width: auto;
  height: 27px;
  /*background-image: linear-gradient(to bottom, #ffffff, #f1f4f7);*/
  padding-left:20px;
  padding-right: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  letter-spacing: 0.2px;
}

.ae-button._disabled, .ae-button._disabled > *{
  cursor: not-allowed;
}

.ae-button._role_sub-primary > *, .ae-button._role_primary > *{
  background-image: none;
  background-color: #F03C6E;
  color: #FFFFFF;
}

.ae-button._role_sub-primary._disabled > *, .ae-button._role_primary._disabled > *{
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

._role_primary.ae-button > * {
  /* Rectangle: */
  border-radius: 76px;
  /* Create First Proof: */
  font-size: 18px;
  letter-spacing: 0.45px;
  padding:10px 25px;
  margin:0 auto;
  max-width:250px;
  width: 100%;
  line-height: 1.41;
  height: 45px;
}
