.ae-button-icon {
	border-radius: 50%;
	background-color: #f03c6e;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.ae-button-icon svg {
	/*display: block;*/
	width: 24px;
	height: 24px;
	margin: 8px;
}
