@import '~@aeternity/aepp-components/dist/variables.scss';

.modal-screen.transfer .ae-modal > main .content {
  .swiper-container {
    .swiper-wrapper {
      padding-bottom: 35px;
      width: 320px;
    }
    .swiper-pagination-bullet {
      background: $aubergine;
    }
  }

  .ae-switch {
    margin-bottom: 35px;
    text-transform: uppercase;
  }

  .fiat-amount {
    color: $grey;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    margin-top: -20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .ae-button {
    margin-bottom: 80px;

    img {
      height: 20px;
      margin-left: 50px;
      margin-right: -50px;
    }
  }
}
