.unlock{
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.unlock-form{
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.explanation{
  display: block;
  padding:0 10px 20px ;
}

.unlock-button{
  display:block;
  margin:20px auto 0 auto;
}

.unlock-different-keystore {
  margin-top:20px;
}
