.ae-switch {
  display:flex;
  justify-content: center;
}
.ae-switch input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}
.ae-switch label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
}
.ae-switch label:hover {
  cursor: pointer;
}
.ae-switch input:checked + label {
  background-color: #F03C6E;
  color:white;
}
.ae-switch label:first-of-type {
  border-radius: 4px 0 0 4px;
}
.ae-switch label:last-of-type {
  border-radius: 0 4px 4px 0;
}
