html, body {
  font-family: 'Roboto', sans-serif;
  margin:0;
}

body{
  background-image: linear-gradient(to bottom, #ffffff, #f1f4f7);
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  /*box-shadow: 0 0 24px 0 rgba(0,0,0,0.22), 0 24px 24px 0 rgba(0,0,0,0.30);*/
  /* wallet: */
  position:absolute;
  /*top:50%;*/
  /*left:50%;*/
  /*transform:translate(-50%,-50%);*/
  width:100%;
  height:100%;
  overflow:hidden;
  background-image: linear-gradient(0deg, #F1F4F7 0%, #FFFFFF 100%);
}
#app.welcome .topbar {
  display:none;
}
.screen {
  height:100%;
  overflow:auto;
}
.screen >.inner {
  padding-top:80px;
}
.screen > :first-child:not(.nomargin) ,
.screen >.inner > :first-child:not(.nomargin) {
  margin-top:20px;
}
.intro.screen {
  position:relative;
  z-index:10;
  background:white;
}
.proof.screen > :last-child{
  margin-bottom:100px;
}
.intro.screen >.inner {
  padding-top:21px;
}
.intro.screen .notice{
  margin-top:20px;
  margin-bottom:5px;
}
.home.screen  {
  margin-top:225px;

}
.notice {
  /* Skip: */
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0.35px;
}
a {
  color:inherit;
  text-decoration:inherit;
}
button {
  border: none;
  background: transparent;
}
button.small-btn {
  text-transform:uppercase;
  color:#F03C6E;
  font-weight:bold;
  /*text-decoration:underline;*/
}
button.gray.small-btn {
  color:#989898;
}
.img {
  width:100%;
  height:210px;
  z-index:100;
  position:relative;
  background-repeat:no-repeat;
  background-position:center center;
}
.img.cover {
  background-size:cover;
}
.img.contain {
  background-size:contain;
}
.logo.img {
  height:23px;
  margin-bottom:30px;
}
.text {
  /* This is the æxistenc: */
  font-weight:300;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.4px;
  line-height: 24px;
  max-width:400px;
}

h1, p {
  /*max-width:calc(100% - 42px);*/
  /*margin-left:21px;*/
}
h1 {
  font-size: 26px;
  color: #000000;
  letter-spacing: 0.65px;
}
.center {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}
/* Oval: */
.bullets {
  text-align:center;
}
.swiper-pagination-bullet,
.oval {
  /*background: #E0E0E0;*/
  display:inline-block;
  border-radius:50%;
  width:8px;
  height:8px;

}
.swiper-pagination-bullet-active,
.active.oval {
  background: #F03C6E;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
  /*top:10px;*/
  /*background:red;*/
}
.swiper-container {
  padding-bottom:40px;
}
.avatar {
  display:inline-block;
  vertical-align:middle;
  /*position:absolute;*/
  /*bottom:20px;*/
}
header:before{
  content:"";
  width:100%;
  height:70px;
  position:absolute;
  left:0;
  top:-1px;
  background-image: linear-gradient( -180deg,
  #FFFFFF 0%,
  rgba(255,255,255,1.00) 20%,
  rgba(255,255,255,0.00) 100%
  );
}
header {
  position:fixed;
  width:100%;
  z-index:2;
  display: flex;
  padding: 21px;
  max-width: 100%;
  box-sizing: border-box;
}
header > * {
  position:relative;
}
/*nav:before {*/
/*content: "";*/
/*display:block;*/
/*position:absolute;*/
/*background:rgba(0,0,0,0.8);*/
/*width:100%;*/
/*height:100%;*/
/*}*/
nav {
  position: fixed;
  left: 0;
  height: 100%;
  width: 65%;
  /*background: red;*/
  z-index: 10;
  transform:translate(-100%,0);
  transition:transform 0.4s;
  /*display:none;*/
}
.open nav {
  transform:translate(0,0);
}
header ,
.topbar + * {
  transition:transform 0.4s;
}
.open header ,
.open + * {
  transform:translate(65%, 0);
}
nav > .inner {
  position:relative;
  width:100%;
  z-index:10;
  background: blue;
  min-height:100%;
  background-image: linear-gradient(-180deg, #1E1E1E 0%, #320A3C 100%);
  color:white;
}
nav .name {
  font-weight:500;
  font-size: 19px;
  color: #FFFFFF;
  letter-spacing: 0;
}
nav .avatar {
  margin-top:40px;
  margin-bottom:8px;
}
nav .avatar + .name{
  margin-bottom:30px;
}
.menu-entry a ,
.menu-entry svg {
}
.menu-entry svg {
  margin-right:10px;
}
.menu-entry a {
  /* My Proofs: */
  position:relative;
  display:block;
  /*background:blue;*/
  opacity: 0.9;
  font-size: 17px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding:20px;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.menu-entry a + .menu-entry a{
  border-top:none;
}
.menu-entry .router-link-active:before{
  content:"";
  display:block;
  position:absolute;
  width:100%;
  top:0;
  left:0;
  opacity:0.2;
  height:100%;
  background-image: linear-gradient(90deg, #FFFFFF 0%, rgba(255,255,255,0.14) 100%);
}
.columns {
  display:flex;
  padding:21px;
  justify-content: space-between;
  align-items: top;
}

.modal-dialogs-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: linear-gradient(to bottom, rgba(30,30,30,.9), rgba(50, 10, 60, .9));
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1000000;
}

.modal-dialogs-wrapper:empty{
  width: 0;
  height: 0;
  z-index: -1;
  pointer-events: none;
  display: none;
}
