@import '~@aeternity/aepp-components/dist/common.css';

body{
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom, #ffffff, #f1f4f7);
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  /* wallet: */
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
  background-image: linear-gradient(0deg, #F1F4F7 0%, #FFFFFF 100%);
}
#app.welcome .topbar {
  display:none;
}
.screen {
  height:100%;
  overflow:auto;
}
.screen >.inner {
  padding-top:80px;
}
.screen > :first-child:not(.nomargin) ,
.screen >.inner > :first-child:not(.nomargin) {
  margin-top:20px;
}
.intro.screen {
  position:relative;
  z-index:10;
  background:white;
}
.proof.screen > :last-child{
  margin-bottom:100px;
}
.intro.screen >.inner {
  padding-top:21px;
}
.home.screen  {
  margin-top:225px;

}
a {
  color:inherit;
  text-decoration:inherit;
}
button {
  border: none;
  background: transparent;
}
button.small-btn {
  text-transform:uppercase;
  color:#F03C6E;
  font-weight:bold;
  /*text-decoration:underline;*/
}
button.gray.small-btn {
  color:#989898;
}
.img {
  width:100%;
  height:210px;
  z-index:100;
  position:relative;
  background-repeat:no-repeat;
  background-position:center center;
}
.img.cover {
  background-size:cover;
}
.img.contain {
  background-size:contain;
}
.logo.img {
  height:23px;
  margin-bottom:30px;
}
.text {
  /* This is the æxistenc: */
  font-weight:300;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.4px;
  line-height: 24px;
  max-width:400px;
}

h1 {
  font-size: 26px;
  color: #000000;
  letter-spacing: 0.65px;
}
.center {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

.modal-dialogs-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: linear-gradient(to bottom, rgba(30,30,30,.9), rgba(50, 10, 60, .9));
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1000000;
}

.modal-dialogs-wrapper:empty{
  width: 0;
  height: 0;
  z-index: -1;
  pointer-events: none;
  display: none;
}
