#app {
  .app_id-manager {
    transition: height 500ms, opacity 500ms;
    height: 0 !important;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    &._open {
      height: 100% !important;
      opacity: 1;
      z-index:999;
      pointer-events: auto;
    }
  }

  .ae-banner {
    position: fixed;
    left: 0;
    right: 0;

    img {
      height: 22px;
      margin-right: 4px;
      vertical-align: text-bottom;
    }
  }
}
