.identity-info {
  display:inline-block;
  vertical-align:middle;
  /*position:absolute;*/
  /*bottom:20px;*/
}
.identity-info .name {
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.identity-info .address {
  opacity: 0.5;
  font-weight:300;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0.6px;
}
